---
// this executes on the server
import MainLayout from '../layouts/MainLayout.astro';
import Button from '../components/Button.tsx';

const num = 1;
const arr = ["jack", "jill", "john"];
---
<MainLayout title="home">
  <h2>Diego was here: {num}</h2>
  <p data-js="test">Hello world</p>
  <div>
    {arr.map((name) => (
      <p>{name}</p>
    ))}
  </div>
  <!-- component gets rendered on the server, but there is no interactivity unless you add client:load -->
  <Button client:load/>
</MainLayout>

<script>
  // this executes on the client
  const p = document.querySelector("[data-js=test]");
  p.textContent = "Hello world from script tag astor.js";
</script>

<!-- everything in a style tage is localy scoped, if you want globaly scoped add propery `is:global` -->
<style>
  p {
    color: red;
  }
</style>
