<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>test view</title>
    <link rel="icon" href="/logo.svg" />
    <style>
      .red {
        color: blue;
        background-color: red;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div :class="cssClass" @click="toogle">{{ counter }}</div>
      <div v-bind:title="hover">hover over me</div>
      <button v-on:click="increment">increment {{inc}}</button>
      <div>
        <input type="text" v-model="inputText" />
        <p>{{ inputText }}</p>
      </div>
      <div v-if="visable">show me</div>
      <div>
        <ul>
          <li v-for="item in items">{{ item }}</li>
        <ul>
          <li v-for="(item, idx) in items">{{ item }}:{{ idx }}</li>
        </ul>
      </div>
      <span v-html="html"></span>
      <span v-for="number in 20">{{ number }}</span>
      <p v-for="(k,v) in dog">{{ k }}:{{ v }}</p>
      <select v-model="selected">
        <option v-for="option in options" v-bind:value="option.value">
          {{ option.text }}
        </option>
      </select>
      <span>{{ selected }}</span>
      <p>Who is this message for?</p>
      <input type="checkbox" id="questions" value="Questions Team" v-model="checkedOptions" />
      <input type="checkbox" id="comments" value="comments" v-model="checkedOptions" />
      <p>selectd: {{ checkedOptions }}</p>
      <input type="radio" id="one" value="one" v-model="picked" />
      <input type="radio" id="two" value="two" v-model="picked" />
      <input type="radio" id="three" value="three" v-model="picked" />
      <p>{{ picked }}</p>
      <test-component title="foobar" @increase="inc = inc + 2">
        slot goes here
      </test-component>
      {{ inc }}
      {{ computedProperty }}
      <br/>
      <input v-focus />
      <br/>
      <span v-arguments:foo.bar="baz"></span>
      <ul>
        <li v-for="assignment in assignments.filter(a => !a.checked)" :key="assignment.id">
          <label>
            {{assignment.text}}
            <input type="checkbox" v-model="assignment.checked">
          </label>
        </li>
      </ul>
      <ul>
        <li v-for="assignment in completedAssignments" :key="assignment.id">
          {{assignment.text}}
        </li>
      </ul>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="script.js"></script>
  </body>
</html>
